AcadrePWS/Web References/AcadreServiceV7/schema15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://rep.oio.dk/itst.dk/xml/schemas/2005/02/22/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/itst.dk/xml/schemas/2005/02/22/" id="schema15" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" />
  <xs:element name="PersonNameStructure" type="tns:PersonNameStructureType" />
  <xs:complexType name="PersonNameStructureType">
    <xs:sequence>
      <xs:element xmlns:q1="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" minOccurs="0" maxOccurs="unbounded" ref="q1:PersonGivenName" />
      <xs:element xmlns:q2="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" minOccurs="0" maxOccurs="unbounded" ref="q2:PersonMiddleName" />
      <xs:element xmlns:q3="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" minOccurs="0" maxOccurs="unbounded" ref="q3:PersonSurnameName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonNameForAddressingName" type="xs:string" />
</xs:schema>